:host {
    display: grid;
}
:host(.days-only) {
    grid-template-columns: repeat(7, 2fr);
}
:host(.days-and-left-column) {
    grid-template-columns: 1fr repeat(7, 2fr);
}
div {
    text-align: center;
}
/* represents a non-repeated height */
/* div.first-column-week {
    height: 50rem;
} */
/* represents a repeated height, the height of the week */
/* div.first-column-month {
    height: 9.6rem;
} */
.timer {
    margin-bottom: 3rem;
    font-size: 0.6668rem;
}