/* :host {
    display: contents;
} */
:host(.scrolled-area-week) {
    display: grid;
    grid-template-columns: 1fr repeat(7, 2fr);
    background-image:
        repeating-linear-gradient(white 0 1px, transparent 1px 100%);
    background-size: 16px 16px;
    height: 24rem;
}
:host(.scrolled-area-month) {
    display: grid;
    grid-template-columns: 1fr repeat(7, 2fr);
}
div {
    text-align: center;
}
div.first-column-week {
    height: 50rem;
}
div.first-column-month {
    /* was 10rem */
    height: 9.6rem;
}
/* copied from calendarDay.css */
/* .show-lines {
    background-image:
      repeating-linear-gradient(#999 0 1px, transparent 1px 100%);
    background-size: 16px 16px;
    height: 100%;
    position: relative;
} */
.timer {
    margin-bottom: 3rem;
    font-size: 0.6668rem;
}
.scrollable {
    /* overflow-y: scroll; */
    /* height: 100%; */
}