ul.year > li {
    padding-top: 3rem;
}

ul.months-block {
    width: 100%;
    display: table;
    table-layout: fixed;
}

ul.months-block > li {
    display:table-cell;
}

ul.months-block > li:hover {
    background-color: gainsboro;
}

ul.week {
    /* TODO: The one in use uses a fixed width of 250px */
    width: 100%;
    display: table;
    table-layout: fixed;
    border-spacing: 0rem;
}

ul.week > li {
    display: table-cell;
    text-align: left;
    padding-top: 1rem;
}