:host {
    display: contents
}
div.main {
    display: block;
    opacity: 1;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
}

div.stackedWeek {
    position: relative;
}

div.positioned {
    position: absolute;
    left: 0;
    right: 0;
}

div.selected {
    border: 2px solid black;
}

.title {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 0.75rem;
}
.fixedHeight {
    height: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 6.5rem;
}