.card-header {
    background-color: #f3f3f3;
}

.week-day-row {
    display: grid;
    column-gap: 0.2rem;
}
.week-day-row-no-left-column {
    grid-template-columns: repeat(7, 2fr);
}
.week-day-row-with-left-column {
    grid-template-columns: 1fr repeat(7, 2fr) min-content;
}

.calendar-rows-month {
    display: contents;
    height: 100%;
}
.calendar-rows-week-stacked {
    overflow-y: auto;
}
.calendar-rows-week-stacked-fixed-height {
    overflow-y: scroll;
}
.calendar-rows-week-not-stacked {
    height: 33.41rem;
    overflow-y: scroll;
}

.top-row-element {
    text-align: center;
    font-size: 1.2rem;
}
.button-vertical-alignment {
    vertical-align: bottom;
}