.card-header {
    background-color: #f3f3f3;
}

.container {
    min-height: 30rem;
}

.week-day-row {
    display: grid;
    column-gap: 0.2rem;
}
.grid-columns-regular {
    grid-template-columns: 1fr repeat(7, 2fr);
}
.grid-columns-hidden-column {
    grid-template-columns: 1fr repeat(7, 2fr) min-content;
}
.grid-columns-simple {
    grid-template-columns: repeat(7, 2fr);
}

.calendar-rows-month {
    display: contents;
    height: 100%;
}
.calendar-rows-week-stacked {
    overflow-y: auto;
}
/* TODO: Does this make sense for mobile? */
.calendar-rows-week-stacked-fixed-height {
    overflow-y: scroll;
}
.calendar-rows-week-not-stacked {
    height: 33.41rem;
    overflow-y: scroll;
}

.top-row-element {
    text-align: center;
    font-size: 1.2rem;
}
.button-vertical-alignment {
    vertical-align: bottom;
}